{% extends "header_footer.html" %}
{% block content %}
<h1>Ügyfél hozzáadása</h1>

<form action="{% url 'customer:insertcustomer' %}" method="post">
    {% csrf_token %}
    
    <label for="name">Név</label><br />
    <input type="text" name="name" id="name"/><br /><br />
    <label for="phone">Telefonszám</label><br />
    <input type="text" name="phone" id="phone"/><br /><br />
    <label for="pid">Személyi igazolvány száma</label><br />
    <input type="text" name="pid" id="pid"/><br /><br />
    <label for="address">Cím</label><br />
    <input type="text" name="address" id="address"/><br /><br />
<input type="submit" value="Hozzáad" />
</form>
{% endblock %}