{% extends "header_footer.html" %}
{% block content %}
{% include "addcustomer.html" %}
{% include "searchcustomer.html" %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Ügyfelek
            <a id="add_customer" data-toggle="modal" href="#addCustomer" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span></a>
            <a data-toggle="modal" href="#searchCustomer" class="btn btn-default pull-right"><span class="glyphicon glyphicon-search"></span></a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Azonosító</th>
                    <th>Személyi szám</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for customer in customer_list %}
                <tr ondblclick="document.location = '{% url 'customer:customerdatasheet' customer.id %}'">
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.customer_identifier }}</td>
                    <td>{{ customer.personal_identifier }}</td>
                    <td><a id="delete_customer_{{customer.id}}" href="{% url 'customer:deletecustomer' customer.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}