{% extends "header_footer.html" %}
{% block content %}
{% include "addcustomer.html" %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Ügyfelek<a data-toggle="modal" href="#addCustomer" class="pull-right"><span class="glyphicon glyphicon-plus"></span></a></div>
        <table class="table table-striped">
            <thead>
                    <tr>
                    <th>Név</th>
                    <th>Azonosító</th>
                    <th>Telefonszám</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for customer in customer_list %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.customer_identifier }}</td>
                    <td>{{ customer.phone_number }}</td>
                    <td><a href="{% url 'customer:deletecustomer' customer.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}