{% extends "header_footer.html" %}
{% block content %}
<div class="container">
    <div class="btn-group" role="group">
        <a href="/rent/all/" class="btn btn-default {% if request.path == '/rent/all/' %}active{% else %}{% endif %}">Összes</a>
        <a href="/rent/over/" class="btn btn-default {% if request.path == '/rent/over/' %}active{% else %}{% endif %}">Határidőn túl</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Kölcsönzött médiák</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Kölcsönzés dátuma</th>
                    <th>Sorszám</th>
                    <th>Típus</th>
                    <th>Státusz</th>
                    <th>Kölcsönző</th>
                </tr>
            </thead>
            <tbody>
            {% for media in media_list %}
                <tr ondblclick="document.location = '{% url 'media:mediadatasheet' media.id %}'">
                    <td>{{ media.media_title }}</td>
                    <td>{{ media.rented_date | date:"Y.m.d." }}</td>
                    <td>{{ media.seq }}</td>
                    <td>{{ media.media_type }}</td>
                    <td>{{ media.status_type }}</td>
                    <td>{{ media.customer }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}